* {
	margin:		0;
	padding:	0;
}

body {
	background-color: #FeFeFe;
}

div.menu {
	position:		fixed;
	top:			0;
	width:			100%;
}

div.menu nav {
	background-color: 	RGBA(0,0,0,0.75);
}


div.menu nav ul li {
	padding: 15px;
	display:		inline-block;	
}

div.menu nav ul li:hover{
	background-color:	#555;

}

div.menu nav ul li a {
	text-decoration:	none;
	color:			#eee;
}

div.subHeader{

	margin:			60px 5% 2% 5%;
	border-bottom:		1px solid gray; 
	color:			#444;
	text-align:		center;
	
}

@media screen and (max-width: 396px) {
	div.subHeader{margin:15px 5% 2% 5%;}
	div.menu {
		position:		relative;		
		width:			100%;
	}

	div.menu nav ul li {
		padding: 20px;
		display:		block;	
		text-align:		center;	
		border-bottom: 	1px solid #777;
	}
	
}

div.evolucoes {
	background-color:	#ddd;
	padding:		15px;	
	margin:			1.5% 5%;
	border:			1px solid gray;
}

div.evolucoes input, div.evolucoes select, div.evolucoes button {
	padding:		1.5px 10px;
	margin-left:		5px;
	margin-top:		7px;
}

div.textoEvolucoes {
	border: 		1px solid gray;
	background-color:	#ddd;
	margin:			1.5% 5%;
}

div.textoEvolucoes textarea {
	width: 			38%;
	padding:		10px;
}

div.textoEvolucoes textarea:nth-child(1) {
	margin-left:		5%;
}

div.textoEvolucoes textarea:nth-child(2) {
	margin:			1% 5% 0 5%;
}

button.btSelect {
	width:			40.5%;
	margin:			2% 8% 2% 5%;
	padding:			7px 7px;	
}

button.btSave, button.btClear {
	width:			18%;
	margin:			2% 0.25% 2% 0.25%;
	padding:		7px 7px;	
}

@media screen and (max-width: 611px){
	div.textoEvolucoes textarea {
		width: 			84%;
		padding:		10px;

	}
	button.btSave, button.btClear {
		width:			44%;		
		padding:		7px 7px;	
	}

	button.btSelect {
		width:			90%;
		margin:			3% 0 2% 5%;

	}

	button.btSave {

		margin:			1% 0.5% 1% 5%;
	}

	
}

#entrada input {
	width:			90%;
	padding:			10px 5px;
	margin:			0.81% 5%;
	border:			1px solid #ddd;
	font-size:			14px;
}

#entrada button {
  	padding:			5px;
	margin-left:		5%;
	margin-bottom:		0.5%;

}

#tabela  {
	border-collapse:		collapse;
	width:			90%
	border:			1px solid #ddd;
	font-size:			16px;
	margin:			1% 5%;
}

#tabela th, #tabela td {
	text-align:			center;
	padding:			10px;
	border:			1px solid #aaa;	
	
}



#tabela tr:nth-child(even) {
	background-color:		#f1f1f1;
}

#tabela tr:nth-child(odd) {
	background-color:		#d5d5d5;
}


#tabela tr:hover {
	background-color:		#b5b5b5;
}

